body {
    color: #FFF;
    background-color: #313131;
    font-family: 'Avenir next';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 580px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
}

h1 {
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 120px;
}

h2 {
    border-bottom: 1px solid #FFF;
}

h4 {
    padding-top: 5%;
}

#bajada {
    font-size: 26px;
    padding: 2% 10%;
}

.arconte, .agora, .areopago, .academia, .oraculo {
    padding:5% 10% 0;
    font-size: 20px;
}

[class*="col-"] {
    width: 100%;
    float: left;
}



.row::after {
    content: "";
    clear: both;
    display: table;
}



img[src*='perfil'] {
    width: 124px;
    height: 124px;
    flex-shrink: 1;
    border-radius: 124px;
    position: relative;
}

.item {
    padding: 5% 10% 5%;
}

img[src*='hercules'],
img[src*='escultura'] {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.trabajos,
.voluntariado,
.pitonisa {
    padding-bottom: 5%;
}



a:link {
    color:cornflowerblue
}
    
a:visited {
    color:blueviolet
}

input {
    width: 50%;
    height: 30px;
    text-align: center;
}

#ask {
    height: 40px;
    width: 120px;
    font-size: 20px;
    position: relative;
    background-color: #eee;
    color: #333;
    border:unset;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
}

.oracle {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    h1 {
        font-size: 100px;
    }

    .arconte, .agora, .areopago, .academia, .oraculo {
        font-size:inherit;
    }

    .item {
        padding: 0;
    }

    .contacto {
        padding: 5% 7% 0%;
        align-items: center;
        display: flex;
        float: none;
    }
    
    
    .agora1 {
        display: flex;
        justify-content: space-between;  
        padding-top: 5%;
        align-items: center;
        flex-shrink: 2;
        float:none;
        padding-left: 10%;
    }

    .trabajos {
        position: relative;
        padding-right: 5%;
    }
    
    img[src*='hercules'] {
    width: 425px;
    height: auto;
    float:none;
    padding-left: 4%;
    }
    
    .agora2 {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        flex-shrink: 2;
        align-items: center;
        float:none;
        padding-left: 10%;
    }
    
    .trabajos {
      position: relative;
        
    }

    .voluntariado {
        position: relative;
        float: none;
        padding-left: 4%;
    }
    
    img[src*='escultura'] {
        width: 463px;
        height: auto;
        position:relative;
        float: none;
        padding-right: 5%;
    }
    
    .habilidades {
        padding: 5% 7% 0% 10%;
        align-items: center;
        display: flex;
        float: none;
    }
    
    .educacion {
        padding-top: 5%;
        display: flex;
        align-items: center;
    }
    
    .academia ul {
        padding-top: 5%;
        padding-bottom: 10%;
        padding-left: 7%;
        padding-right: 0;

    }

    .pitonisa {
        padding: 5% 7% 5%;
        align-items: center;
        display: flex;
        float: none;
    }

    input {
        width: 50%;
        height: 30px;
        text-align: center;
    }
    
    #ask {
        height: 40px;
        width: 120px;
        font-size: 20px;
        position: relative;
        background-color: #eee;
        color: #333;
        border:unset;
        border-radius: 20px;
        margin: 20px 0;
        cursor: pointer;
    }
    
    .oracle {
        margin: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    

  }

img[src*='footer'] {
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    width:100%;
}